// About me styles
#about
  color: #fff
  +display(flex)
  justify-content: center
  align-items: center
  flex-direction: column
  margin-bottom: 25px
  width: 100%


  .splash
    width: 100%
    min-height: 84vh
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/silkscreen.svg"),url("/img/bakerbeach.jpg")
    background-size: 1px 1px, cover
    background-repeat: repeat, no-repeat
    background-position: center 72%
    background-attachment: fixed

  img
    +size(300px)
    border-radius: 50%
  .about-desc
    +display(flex)
    flex-direction: row
    justify-content: space-around
    align-items: center
    flex-grow: 1
    text-align: center
    margin-bottom: 30px
    width: 100%
    background: #5bc7f6
    p
      width: 600px
      font-size: 2em


  h1
    margin: 20px auto
    font-size: 6em
    color: #000
    text-align: left

  span
    color: #000
    // display: block
    align-self: flex-start
    font-size: 6.5em
    width: 200px
    text-align: left

  .photo-lockup
    +display(flex)
    color: black
  .contact-cta
    margin-top: 20px
    padding: 20px 40px
    text-decoration: none
    background: red
    color: white
    font-size: 2em
