.contact
  display: flex
  flex-direction: column
  align-items: center
  h1
    font-family: $font-body-stack
    font-size: 2em
  .form-card
    display: flex
    flex-direction: column
    align-items: center
    border: 1px solid #eee
    width: 700px
    background: white
    padding: 25px
    box-shadow: 0px 2px 0px 0px #ccc
    form
      display: flex
      flex-direction: column
      width: 85%
      .senderinfo
        input
          padding: 10px 10px

      label
        font-family: $font-body-stack
        font-weight: 100
        font-size: 1.2em
      textarea
        resize: none
        height: 5em
      #submit
        font-size: 2em
        text-align: center
        @extend %material-button
        background: rgb(193, 61, 61)
        color: white
        box-shadow: 0px 3px 0px 0px #ccc
        transition: 1s all
        i
          margin-left: 20px
        &:hover
          border: 1px solid #c22b2b
          box-shadow: inset 0px 0px 40px rgb(159, 38, 38)
