.nowplaying
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  .blurb
    width: 30%
    a
      height: auto
      width: 300px
      // height: 400px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      padding: 5px
      border: 1px solid #333
      box-shadow: 0px 3px 3px #555
      .blurb-head
      display: flex
      justify-content: space-around
      align-items: stretch
      padding: 5px
      i
        margin: 0 20px
      .blurb-body
