// Sticky Sidebar styles
#sidebar
  +display(flex)
  box-sizing: border-box
  width: 15%
  padding: 20px
  background: url("../img/greyzz.png")
  +position(fixed)
  top: 0px
  right: 0px
  bottom: 0px
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

  .sidebar-nav
    +display(flex)
    flex-direction: column
    margin: 10px 0px

    .sidebar-nav-item
      margin: 10px 0px
      align-content: space-between
      font:
        size: 16px
        weight: 500
      color: black
      padding: 20px 40px
      width: auto
      // border: 2px solid black
      +transition

      &:hover
        color: white
        background: #777

  #danbrand
    width: 50px
  .social-media
    margin: 40px 0px
    a
      padding: 10px

  h1
    font-size: 4em
  a
    text-decoration: none
    color: #000
