@font-face
  font-family: BebasNeue
  src: url("/assets/BebasNeue.otf")

@font-face
  font-family: MuseoSans
  src: url("/assets/MuseoSans.otf")

@import url(https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono|Montserrat|Pridi|Work+Sans|Mitr)


$font-stack: BebasNeue, $font-stack-helvetica, sans-serif

$font-body-stack: "Montserrat", sans-serif
$font-color: #333
