@import url(https://fonts.googleapis.com/css?family=Open+Sans|Righteous|Roboto+Condensed)
$font-stack: "Roboto Condensed", "Open Sans", "Helvetica", sans-serif
$atomGray: #333333
$hoverAtomGray: lighten($atomGray, 45%)
