@import url(https://fonts.googleapis.com/css?family=Open+Sans|Righteous|Roboto+Condensed);
$font-stack: "Roboto Condensed", "Open Sans", "Helvetica", sans-serif;
$atomGray: #333333;
$hoverAtomGray: lighten($atomGray, 45%);

// Partials
@import "about";
@import "projects";
@import "resume";
@import "sidebar";



html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  width: 100%;
  height: 100%;
  background: $atomGray;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.site-wrapper {
  width: 100%;
  height: 100%;

  color: #fff;
}
.wrapper {
  margin-top: 125px;
}

#sticky-header {
  position: fixed;
  width: 100%;
  text-align: center;
  background: $atomGray;
}

// Sliders, YUM!
// #site-nav {
//   display: block;
//   position: fixed;
//   // border: 1px solid black;
//   padding: 20px 10px 30px 0px;
//   width: 585px;
//   background: transparent;
//   left: -501px;
//   transition: left 1s;
//   .nav-links {
//     position: relative;
//     right: 0px;
//     a {
//       background: $hoverAtomGray;
//       color: #fff;
//       right: 0px;
//       width: 200px;
//       padding: 20px;
//       border-bottom: 2px solid #fff;
//       margin-left: 0px;
//       transition: padding 0.2s;
//       text-decoration: none;
//       transition: background 0.2s;
//       i {
//         margin-right: 5px;
//       }
//     }
//     a:hover {
//       background: transparent;
//     }
//
//     .menu-btn {
//       background: none;
//       color: white;
//       margin-left: 10px;
//       position: relative;
//       right: 0px;
//       border: 0px;
//     }
//   }
// }
//
// #site-nav.active {
//   left: -15px;
// }

#content {
  display: inline-block;
  width: 80%;
  background: $atomGray;
}

.example-enter {
  opacity: 0.01;
  transition: opacity 0.3s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}
.example-leave {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}

.link-active {
  color: #bbbbbb;
  text-decoration: none;
}
