$font-stack: "Roboto Mono", "Helvetica", sans-serif;


*, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  width: 100%;
  height: 100%;
  background: #333333;
}

.site-wrapper {
  width: 100%;
  height: 100%;

  color: #fff;
}

#personal {
  position: fixed;
  width: 100%;
  text-align: center;
  background: #333333;
}


#site-nav {
  display: block;
  position: fixed;
  // border: 1px solid black;
  padding: 30px 10px;
  width: 585px;
  background: transparent;
  left: -501px;
  transition: left 1s;
  .nav-links {
    position: relative;
    right: 0px;
    a {
      background: #777;
      color: #fff;
      right: 0px;
      width: 200px;
      padding: 20px;
      border-bottom: 2px solid #fff;
      margin-left: 0px;
      transition: padding 0.2s;
      text-decoration: none;
      i {
        margin-right: 5px;
      }
    }
    a:hover {
      background: transparent;
    }

    .menu-btn {
      background: none;
      color: white;
      margin-left: 10px;
      position: relative;
      right: 0px;
      border: 0px;
    }
  }
}

#site-nav.active {
  left: 0px;
}

#main {
  width: 775px;
  height: 775px;
  background: url('../img/me.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.project {
  border: 1px solid black;
  min-height: 250px;
  margin: 5px 5px;
}

#resume-section {
  background: #fff;
  color: #000;
}

#content {
  background: #fff;
}
