// $Abril-font: @import url("/assets/fonts/AbrilFatface-Regular.otf");
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Righteous|Roboto+Condensed);
$font-stack: "Roboto Condensed", "Open Sans", "Helvetica", sans-serif;
$atomGray: #333333;
$hoverAtomGray: lighten($atomGray, 45%);

*, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  width: 100%;
  height: 100%;
  background: $atomGray;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.site-wrapper {
  display: inline-block;
  width: 100%;
  height: 100%;

  color: #fff;
}
.wrapper {
  margin-top: 125px;
}

#sticky-header {
  position: fixed;
  width: 100%;
  text-align: center;
  background: $atomGray;
}


#site-nav {
  display: block;
  position: fixed;
  // border: 1px solid black;
  padding: 20px 10px 30px 0px;
  width: 585px;
  background: transparent;
  left: -501px;
  transition: left 1s;
  .nav-links {
    position: relative;
    right: 0px;
    a {
      background: $hoverAtomGray;
      color: #fff;
      right: 0px;
      width: 200px;
      padding: 20px;
      border-bottom: 2px solid #fff;
      margin-left: 0px;
      transition: padding 0.2s;
      text-decoration: none;
      transition: background 0.2s;
      i {
        margin-right: 5px;
      }
    }
    a:hover {
      background: transparent;
    }

    .menu-btn {
      background: none;
      color: white;
      margin-left: 10px;
      position: relative;
      right: 0px;
      border: 0px;
    }
  }
}

#site-nav.active {
  left: -15px;
}

#main {
  width: 775px;
  height: 775px;
  background: url('../img/me.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.project {
  border: 1px solid black;
  min-height: 250px;
  margin: 5px 5px;
}

#resume-section {
  background: #fff;
  color: #000;

  .introduction {
    text-align: center;
    margin-left: 20px;
  }

  .resume-row {
    // background-color: red;
    margin-left: 20px;
      ul {
        li{
          list-style-type: none;
        }
    }
  }

  .technical-section {
    display: inline-block;
    margin-left: 20px;
    .list-wrapper {
      ul {
        width: 300px;
        min-height: 400px;
        display: inline-block;
        li {
          i {
            margin-right: 10px;
          }
          list-style-type: none;
        }
      }
    }
  }
}

#content {
  display: inline-block;
  width: 80%;
  background: $atomGray;
}

#sidebar {
  display: inline-block;
  // min-height: 100%;
  width: 20%;
  background: #fff;
  color: #000;
  text-align: center;
  img {
    margin: 40px 0px;
  }


  .sidebar-content {
    box-sizing: border-box;
    padding: 100px 0px;
  }

  .social-media {
    i {
      margin: 20px 20px;

    }
    i:hover {
      cursor: pointer;
    }

  }
  a, a:hover, a:visited {
    text-decoration: none;
    margin-bottom: 25px;
  }

}
