@import url(https://fonts.googleapis.com/css?family=Open+Sans|Righteous|Roboto+Condensed);
$font-stack: "Roboto Condensed", "Open Sans", "Helvetica", sans-serif;
$atomGray: #333333;
$hoverAtomGray: lighten($atomGray, 45%);

@mixin cta-button-shadow($btnColor) {
    margin: 20px auto;
    display: block;
    padding: 20px 60px;
    color: #fff;
    background: $btnColor;
    box-shadow: 3px 3px 0 grayscale($btnColor);
    text-decoration: none;
    border-radius: 10px;
    font-weight: bolder;
}

*, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  width: 100%;
  height: 100%;
  background: $atomGray;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.site-wrapper {
  width: 100%;
  height: 100%;

  color: #fff;
}
.wrapper {
  margin-top: 125px;
}

#sticky-header {
  position: fixed;
  width: 100%;
  text-align: center;
  background: $atomGray;
}


#site-nav {
  display: block;
  position: fixed;
  // border: 1px solid black;
  padding: 20px 10px 30px 0px;
  width: 585px;
  background: transparent;
  left: -501px;
  transition: left 1s;
  .nav-links {
    position: relative;
    right: 0px;
    a {
      background: $hoverAtomGray;
      color: #fff;
      right: 0px;
      width: 200px;
      padding: 20px;
      border-bottom: 2px solid #fff;
      margin-left: 0px;
      transition: padding 0.2s;
      text-decoration: none;
      transition: background 0.2s;
      i {
        margin-right: 5px;
      }
    }
    a:hover {
      background: transparent;
    }

    .menu-btn {
      background: none;
      color: white;
      margin-left: 10px;
      position: relative;
      right: 0px;
      border: 0px;
    }
  }
}

#site-nav.active {
  left: -15px;
}

#main {
  width: 775px;
  height: 775px;
  background: url('../img/me.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.project {
  border: 1px solid black;
  min-height: 250px;
  margin: 5px 5px;
}

#resume-section {
  background: #fff;
  color: #000;

  .introduction {
    text-align: center;
    margin-left: 20px;
  }

  .resume-row {
    // background-color: red;
    margin-left: 20px;
      ul {
        li{
          list-style-type: none;
        }
    }
  }

  .technical-section {
    display: inline-block;
    margin-left: 20px;
    .list-wrapper {
      ul {
        width: 300px;
        min-height: 400px;
        display: inline-block;
        li {
          i {
            margin-right: 10px;
          }
          list-style-type: none;
        }
      }
    }
  }
}

#content {
  display: inline-block;
  width: 80%;
  background: $atomGray;
}

#sidebar {
// background: #fff;
  // min-height: 100%;
  color: #000;
  width: 20%;
  text-align: center;



  .sidebar-content {
    background: url('../img/greyzz.png');
    h1 {
      font-size: 42px;
    }
    h2 {
      font-size: 28px;
    }

    display: flex;

    position: fixed;
    right: 0px;
    top: 0px;
    width: 18%;
    bottom: 0px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px 120px 20px;
    // box-sizing: border-box;
    img {
      margin: 20px auto;
    }
    #danbrand {
      width: 125px;
    }
    #sfbrand {
      width: 64px;
      margin-bottom: 0px;
    }
    a#contact-me-cta {
      @include cta-button-shadow(#99072d);
      transition: box-shadow 0.2s;
    }
    a#contact-me-cta:hover {
      background: darken(#99072d, 5%);
      box-shadow: none;
    }
  }

  .social-media {
    i {
      margin: 20px 20px;

    }
    i:hover {
      cursor: pointer;
    }

  }
  a, a:hover, a:visited {
    text-decoration: none;
    margin-bottom: 25px;
    color: black;
  }

}
